*{font-family: 'Nanum Gothic Coding', monospace;

        }

        .bg {
            background-image: url("https://drive.google.com/uc?id=1pjmsyqrniNHO5-fLGWrqvNqlw_V18Yzl");
            background-repeat: repeat;
            width: 100vw;
            height: 100vh;

        }

        .main-box{
            background-color: white;
            width: 100vw;
            height: 42vw;
        }

        .main-img{
            width: 100vw;
        }

        .btn-main{
            border: none;
            background: white;
        }

        .new{
            width: 30vw;
            cursor: pointer;
        }

        .img-share{
            width: 4vw;
        }

        .btn-share{
            border: none;
            background: none;
            cursor: pointer;
        }
