* {
  font-family: "Nanum Gothic Coding", monospace;
}
body {
  background-image: url("https://drive.google.com/uc?id=1pjmsyqrniNHO5-fLGWrqvNqlw_V18Yzl");
  margin: 0px;
  padding: 0px;
}
/* 다음 페이지로 넘어가는 버튼 - 넘어갈때 쌓은 데이터를 보내 주어야 하는 작업이 필요하다. */
#NextPage {
  display: block;
  background-color: white;
  margin: auto;
  border: 0px;
  margin-bottom: 10%;
  cursor: pointer;
}
#NextImg {
  width: 50%;
}
.bg {
  background-image: url("https://drive.google.com/uc?id=1pjmsyqrniNHO5-fLGWrqvNqlw_V18Yzl");
  background-repeat: repeat;
  width: 100vw;
}

.logo-box {
  background-color: white;
  width: 100vw;
}

.logo {
  height: 20vh;
  cursor: pointer;
}

.btn-logo {
  border: none;
  background: white;
}

.result-box {
  background-color: transparent;
  width: 80vw;
  display: block;
  margin: auto;
  margin-top: 5vw;
}

#menu {
  position: absolute;
  background-color: rgb(255, 217, 102);
  top: 5vw;
  font-size: 3vw;
  font-weight: normal;
}
.tab {
  /* margin-top: 1vw; */
  width: 80vw;
  height: 6vw;
}
/* 샌드위치 빵 치즈 소스 버튼 */
.NavBtn {
  width: 18.8vw;
  height: 100%;
  border: none;
  outline: none;
  font-size: 2.3vw;
  border-radius: 1vw;
  font-weight: bold;
  color: black;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
  background-color: rgb(169, 209, 142);
}

.NavBtn.active {
  color: black;
  background-color: rgb(255, 217, 102);
}

.NavBtn:hover {
  color: black;
  background-color: rgb(255, 217, 102);
}
/* 이미지 */
.sandwichimg {
  display: block;
  background-color: white;
  border-radius: 1vw;
  width: 100%;
  height: 14.4vw;
  margin: auto;
}
/* 이미지 + 버튼 */
.SandwichMenu {
  display: inline-block;
  border: none;
  width: 22vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
  margin-right: 0vw;
  margin-top: 2vw;
}
/* 이미지 > 버튼 */
.select {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select2 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select2:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select3 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
  text-align: center;
}

.select3:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select4 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select4:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

/* 샌드위치 버튼 누르면 선택 표시 */
.sandwich {
  background-color: darkorange;
}
/* 빵 버튼 누르면 선택 표시 */
.bread {
  background-color: darkorange;
}
/* 치즈 버튼 누르면 선택 표시 */
.sauce {
  background-color: darkorange;
}
/* 치즈 버튼 누르면 선택 표시 */
.cheese {
  background-color: darkorange;
}

.firstimg {
  position: relative;
  overflow: hidden;
}

.firstimg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 153, 71, 0.7);
  position: absolute;
  top: -100%;
  /* bottom: -100%; */
  left: 0;
  transition: all 0.3s;
}
.background:hover .firstimg::before {
  top: 0;
  bottom: 0;
}

.firstimg::after {
  content: "";
}
span {
  display: block;
  margin: auto;
}
.top {
  position: absolute;
  color: rgb(255, 202, 8);
  bottom: 150%;
  font-size: 1vw;
  margin: auto;
  width: 100%;
  text-align: center;
  transition: all 0.7s;
}

.firstimg:hover .top {
  bottom: 40%;
  transition: all 0.7s;
  margin: auto;
}

span {
  display: block;
  text-align: center;
  margin: auto;
}
/* 치즈 부분 GO & TIP 버튼 */
.total-btn {
  position: absolute;
  top: 35vw;
  width: 100%;
  display: block;
}

#tab4 {
  height: 50vw;
  width: 80vw;
}
.tip {
  position: absolute;
  top: 25vw;
  width: 100%;
}

.input-tip {
  display: block;
  top: 20vw;
  width: 80%;
  margin: auto;
  text-align: center;
}
