*{font-family: 'Nanum Gothic Coding', monospace;

        }

        .bg {
            background-image: url("https://drive.google.com/uc?id=1pjmsyqrniNHO5-fLGWrqvNqlw_V18Yzl");
            background-repeat: repeat;
            width: 100vw;
            height: 350vw;

        }

        /*상단 로고*/


        .logo-box{
            background-color: white;
            width: 100vw;
            height:20vh;
        }

        .logo{
            height:20vh;
            width: 37.275vh;

        }

        .img-new{
            width: calc(47vw - 18.6375vmax);
        }

        .btn-logo{
            border: none;
            background: transparent;
            cursor: pointer;
        }

        .search-img{
            width: 35vw;
            height: 4.18vw;
        }

        .search-input{
            background-color: transparent;
            border: none;
            width: 21vw;
            height: 3.2vw;
            font-size: 1.5vw;
        }

        .search-btn{
            background-color: transparent;
            width: 9vw;
            height: 4vw;
            border: none;
            cursor: pointer;
        }



        /*인기순/최신순 btn & new btn*/
        .btn-box{
            width: 100vw;
            height: 8vw;
        }

        .btn-top10 {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .img-top10{
            width: 26.358vw;
            height: 6.076vw;

        }


        .img-recent{
            width: 22.013vw;
            height: 6.076vw;

        }



        /*본문*/
        .yellow-box{
            background-color: rgb(255, 217, 102);
            width: 84vw;
            height: 305vw;
            margin: 0 auto auto auto;
            border-radius: 1vw;

        }

        .white-cards{
            background-color: white;
            width: 76vw;
            height: 28vw;
            border-radius: 2vw;
        }


        .bar-bread{
            width: 10vw;
        }

        .bar-sauce{
            width: 10.5vw;
        }

        .bar-cheese{
            width: 8vw;
        }

        .name-div{
            width: 30vw;
            text-align: center;
        }
        .name{
            font-size: 2.1vw;
            font-weight: bold;


        }

        .img-sdw{
            width: 28vw;
        }

        .kcal{
            width: 6.5vw;
        }

        .btn-kcal{
            border: none;
            background: white;
        }

        .img-tip{
            width: 6.5vw;
        }

        .input-tip{
            border: none;
            background-color: rgb(197, 224, 180);
            width: 56vw;
            height: 3.5vw;
        }
        .input-tip2{
            width: 56vw;
            height: 3.5vw;
            font-size: 2vw;
            text-align: center;
        }

        .nb-like{
            width: 5vw;
            height: 3 vw;
            font-size: 2.2vw;
            text-align: center;
            font-weight: bolder;
            color: white;
        }

        .img-like{
            width: 8vw;
        }
