*{font-family: 'Nanum Gothic Coding', monospace;

        }

        .bg {
            background-image: url("https://drive.google.com/uc?id=1pjmsyqrniNHO5-fLGWrqvNqlw_V18Yzl");
            background-repeat: repeat;
            width: 100vw;
            height: calc(100vh + 20vw);

        }

        .logo-box{
            background-color: white;
            width: 100vw;
        }

        .logo{
            height:20vh;
            cursor: pointer;
        }

        .btn-logo{
            border: none;
            background: white;
        }

        .result-box{
            background-color: white;
            width: 80vw;
            height: 45vw;
            margin: 5vw auto auto auto;
        }

        .img-title{
            width: 34vw;
        }

        .bar-title{
            width: 30vw;
        }

        .bar-bread{
            width: 10vw;
        }

        .bar-sauce{
            width: 10.5vw;
        }

        .bar-cheese{
            width: 8vw;
        }

        .name-div{
            width: 30vw;
            text-align: center;
        }
        .name{
            font-size: 1.8vw;
            font-weight: bold;


        }


        .img-sdw{
            width: 28vw;
        }

        .kcal{
            width: 6.5vw;
        }

        .btn-kcal{
            border: none;
            background: white;
        }

        .input-tip{
            border: none;
            border-radius: 3px;
            background-color: rgb(197, 224, 180);
            width: 66vw;
            height: 3.5vw;
            font-size: 1.8vw;
        }

        .go{
            width: 16vw;
            cursor: pointer;
        }
        .btn-go{
            border: none;
            background: white;
        }



