<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>오늘의 Subway, 나만의 꿀조합</title>
  <link rel="stylesheet" type="text/css" href="../static/list.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="bg">
    <!--   상단 로고 & new btn -->
    <div style="position:relative;" class="logo-box">
      <button style="position:absolute; left: calc(50vw - 18.6375vh); " class="btn-logo" id="btn-logo" type="submit"
        onclick="location.href='/'">
        <img class="logo" src="https://drive.google.com/uc?id=1QmRgyO-K9wb40ifclihR7kkpS9Fl-3ij" />
      </button>

      <button style="position: absolute; bottom: 2vw; left: calc(51vw + 18.6375vmax);" class="btn-top10" id="btn-new"
        type="submit" onclick="location.href='/menu'">
        <img class="img-new" src="https://drive.google.com/uc?id=1M6H_SB7yw1x-x5GZaFjJXS5oPFmsnq7e" />
      </button>

    </div>

    <!--   인기순/최신순 btn-->
    <div class="btn-box" style="position: relative;">
      <button style="position: absolute; top: 1.942vw; left: 25vw;" class="btn-top10 active" id="btn-top10"
        type="submit" onclick="openTab(event, 'popular')">
        <img class="img-recent" src="https://drive.google.com/uc?id=12E-XaaJq77I4ojHW87OvzXS5xo0AYbMR" />
      </button>

      <button style="position: absolute; top: 1.942vw; left: 51vw;" class="btn-top10" id="btn-recent" type="submit"
        onclick="openTab(event, 'new')">
        <img class="img-recent" src="https://drive.google.com/uc?id=1dyB-6zwULlnqrsa3Qxpg8x_72eLtlpC_" />
      </button>
    </div>

    <!--   본문 초록박스-->
    <div id="popular" class="tabcontent" style="display: block">
      <div class="green-box">
        <!-- 검색창 -->

        <section class="container" style="position: relative">

          <form id="search-form" style="position: absolute; z-index: +1; right: 4.5vw; top: 1vw;">
            <input type="text" id="PopularSearch" class="search-input2">
            <button id="PopularBtn" class="search-btn"></button>
          </form>

          <div style="position: absolute; right: 4vw; top: 2vw">
            <img class="search-img" src="https://drive.google.com/uc?id=1b9E3nGJ7WDhS5i3S8pj4nzbYnW33pmey" />
          </div>

          <!--          랭킹 라벨-->

          <!--          1-->

          <div style="position: absolute; left: 1vw;  top: 10vw; z-index: +3;">
            <img class="ranking1" src="https://drive.google.com/uc?id=1i5sJSDviyp7LX5tG8pBmE4qgqZyaE8eF" />
          </div>

          <!--          2-->
          <div style="position: absolute; left: 2vw;  top: 39vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1ZBUXuWwxgXMD4qThsh-o2ozr0U_T514T" />
          </div>

          <!--          3-->

          <div style="position: absolute; left: 2vw;  top: 68vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1YaHuizrcMSGp1SpjjdyyOZDdbDyRnSrp" />
          </div>

          <!--          4-->

          <div style="position: absolute; left: 2vw;  top: 97vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1DYwcD1xDSF5iSi_b06tgf2nL5L_C2j1Z" />
          </div>

          <!--          5-->

          <div style="position: absolute; left: 2vw;  top: 126vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1bHrinY56vEOxg0o1F45KlBfcIf5B4IGL" />
          </div>

          <!--          6-->

          <div style="position: absolute; left: 2vw;  top: 155vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1pSj4t0Hj2mkFX9iweiq7SpkCVO_8uOIR" />
          </div>

          <!--          7-->

          <div style="position: absolute; left: 2vw;  top: 184vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1BhPLAXbLRmN3IZ3PM4aBI00lPMcYyq_p" />
          </div>

          <!--          8-->

          <div style="position: absolute; left: 2vw;  top: 213vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1uFnIaNaH9QaMhQQcxNeprBCfTQrmkj8B" />
          </div>

          <!--          9-->

          <div style="position: absolute; left: 2vw;  top: 242vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1nJc67YWmyeEJJF2_gu1kXN0qwU3EhjpI" />
          </div>

          <!--          10-->

          <div style="position: absolute; left: 2vw;  top: 271vw; z-index: +3;">
            <img class="ranking" src="https://drive.google.com/uc?id=1YwSb7cWnp6WGXlBrWhygIsBn5Qpb9L_Z" />
          </div>







        </section>
        <ul id="popularSandwich"></ul>
      </div>
    </div>


    <!--   본문 노란박스-->
    <div id="new" class="tabcontent" style="display: none">
      <div class="yellow-box">
        <!-- 검색창 -->
        <section class="container" style="position: relative">

          <form id="Newsearch-form" style="position: absolute; z-index: +1; right: 4.5vw; top: 1vw;">
            <input type="text" id="NewSearch" class="search-input">
            <button id="NewBtn" class="search-btn"></button>
          </form>

          <div style="position: absolute; right: 4vw; top: 2vw">
            <img class="search-img" src="https://drive.google.com/uc?id=15n1Yinqu71wroZGEPD7Eqow-gJv4spal" />
          </div>



        </section>
        <ul id="newSandwich"></ul>

      </div>
    </div>
  </div>


  <script src="../static/list.js"></script>
</body>

</html>