<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/menu.css" />
  </head>
  <body>
    <div class="bg">
      <div style="text-align: center" class="logo-box">
        <button class="btn-logo" id="btn-logo" type="submit">
          <img
            class="logo"
            src="https://drive.google.com/uc?id=1QmRgyO-K9wb40ifclihR7kkpS9Fl-3ij"
          />
        </button>
      </div>

      <div class="result-box">
        <div class="result-box" style="position: relative">
          <div id="menu">
            <!-- 샌드위치 빵 치즈 소스 nav -->
            <div class="tab">
              <button class="NavBtn active" onclick="openTab(event, 'tab1')">
                샌드위치
              </button>

              <button class="NavBtn" onclick="openTab(event, 'tab2')">
                빵
              </button>

              <button class="NavBtn" onclick="openTab(event, 'tab3')">
                소스
              </button>

              <button class="NavBtn" onclick="openTab(event, 'tab4')">
                치즈
              </button>
            </div>

            <!-- 샌드위치 선택 -->
            <div id="tab1" class="tabcontent" style="display: block">
              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>에그마요</span>
                      <span>416kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Egg-Mayo_20211231094817112.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu01">에그마요</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>이탈리안 비엠티</span>
                      <span>388kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Italian_B.M.T_20211231094910899.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu02">이탈리안 비엠티</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>비엘티</span>
                      <span>300kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/B.L.T_20211231094744175.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu03">비엘티</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>미트볼</span>
                      <span>446kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Meatball_20211231094946983.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu04">미트볼</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>햄</span>
                      <span>262kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Ham_20211231094833168.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu05">햄</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>참치</span>
                      <span>316kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Tuna_20211231095535268.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu06">참치</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>로스트 치킨</span>
                      <span>300kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Roasted-Chicken_20211231095032718.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu07">로스트 치킨</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>로티세리 바비큐 치킨</span>
                      <span>327kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Rotisserie-Barbecue-Chicken_20211231023137878.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu08">
                    로티세리 바비큐 치킨
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>서브웨이 클럽</span>
                      <span>293kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Subway-Club%E2%84%A2_20211231095518589.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu09">서브웨이 클럽</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>터키</span>
                      <span>259kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Turkey_20211231095552061.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu10">터키</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>베지</span>
                      <span>209kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Veggie-Delite_20211231095658375.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu11">베지</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>쉬림프</span>
                      <span>229kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Shrimp_20211231095411189.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu12">쉬림프</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>K - 바비큐</span>
                      <span>372kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/K-BBQ_20211231094930225.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu13">K - 바비큐</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>풀드 포크 바비큐</span>
                      <span>327kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Pulled-Pork+cheese_20211231095012512.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu14">
                    풀드 포크 바비큐
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>스테이크 & 치즈</span>
                      <span>355kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Steak-&-Cheese_20211231095455613.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu15">스테이크 & 치즈</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>터키 베이컨 아보카도</span>
                      <span>349kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Turkey-Bacon-Avocado_20211231095615613.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu16">
                    터키 베이컨 아보카도
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>스파이시 이탈리안</span>
                      <span>464kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/spicy_italian_20211231095435532.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu17">
                    스파이시 이탈리안
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>치킨 데리야끼</span>
                      <span>314kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/upload/menu/Chicken-Teriyaki_20211231094803381.png"
                    />
                  </div>
                </div>
                <div>
                  <button class="select" value="menu18">치킨 데리야끼</button>
                </div>
              </div>
            </div>

            <!-- 빵 선택 -->
            <div id="tab2" class="tabcontent" style="display: none">
              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>화이트</span>
                      <span>202kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b05.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread01">화이트</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>위트</span>
                      <span>192kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b03.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread02">위트</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>하티</span>
                      <span>210kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b02.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread03">하티</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>파마산 오레가노</span>
                      <span>213kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b04.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread04">
                    파마산 오레가노
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>허니오트</span>
                      <span>235kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b01.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread05">허니오트</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>플랫 브레드</span>
                      <span>467kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_b06.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select2" value="bread06">플랫 브레드</button>
                </div>
              </div>
            </div>

            <!-- 소스 선택 -->
            <div id="tab3" class="tabcontent" style="display: none">
              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s01.jpg"
                />
                <button>렌치</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s02.jpg"
                />
                <button>마요네즈</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s07.jpg"
                />
                <button>스위트 어니언</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s03.jpg"
                />
                <button>허니 머스타드</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s12.jpg"
                />
                <button>스위트 칠리</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s18.jpg"
                />
                <button>핫 칠리</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s09.jpg"
                />
                <button>사우스웨스트 치폴레</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s11.jpg"
                />
                <button>머스타드</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s04.jpg"
                />
                <button>홀스래디쉬</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s06.jpg"
                />
                <button>올리브 오일</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s05.jpg"
                />
                <button>레드와인식초</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s13.jpg"
                />
                <button>소금</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s14.jpg"
                />
                <button>후추</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/images/menu/img_recipe_s17.jpg"
                />
                <button>스모크 바비큐</button>
              </div>

              <div class="SandwichMenu">
                <img
                  class="sandwichimg"
                  src="https://www.subway.co.kr/upload/menu/sauce_italian_dressing.png"
                />
                <button>이탈리안 드레싱</button>
              </div>
            </div>

            <!-- 치즈 선택 -->
            <div id="tab4" class="tabcontent" style="display: none">
              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>아메리칸 치즈</span>
                      <span>35.3kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_c01.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select4" value="cheese01">
                    아메리칸 치즈
                  </button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>슈레드 치즈</span>
                      <span>53.6kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_c02.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select4" value="cheese02">슈레드 치즈</button>
                </div>
              </div>

              <div class="SandwichMenu">
                <div class="background">
                  <div class="firstimg">
                    <div class="top">
                      <span>모짜렐라 치즈</span>
                      <span>43.8kcal</span>
                    </div>
                    <img
                      class="sandwichimg"
                      src="https://www.subway.co.kr/images/menu/img_recipe_c03.jpg"
                    />
                  </div>
                </div>
                <div>
                  <button class="select4" value="cheese03">
                    모짜렐라 치즈
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/menu.js"></script>
  </body>
</html>
