<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>오늘의 Subway, 나만의 꿀조합</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/todaysubway_main.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <script src="../static/todaysubway_main.js"></script>
    <div class="bg">
      <div class="main-box" style="position: relative">
        <div style="position: absolute;">
          <img class="main-img" src="https://drive.google.com/uc?id=1_5agmJsjSv3qnLjp28KB91e2MubCCCJ5"
        </div>
      </div>

      <button style="position: absolute; top: 33.49vw; left: 3vw;" class="btn-main" id="btn-new" type="submit">
        <img class="new" src="https://drive.google.com/uc?id=1M6H_SB7yw1x-x5GZaFjJXS5oPFmsnq7e"/>
      </button>

      <button style="position: absolute; top: 33.49vw; left: 35vw;" class="btn-main" id="btn-top10" type="submit">
        <img class="new" src="https://drive.google.com/uc?id=19BaQDKDrqQwc61_7uhB9ZB8ff0fZtlZf"/>
      </button>






    </div>
   </body>
</html>
