<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>오늘의 Subway, 나만의 꿀조합</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/todaysubway_main.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <script src="../static/todaysubway_main.js"></script>
    <div class="bg">
      <div class="main-box" style="position: relative">
<!--        메인 이미지-->
        <div style="position: absolute;">
          <img class="main-img" src="https://drive.google.com/uc?id=1_5agmJsjSv3qnLjp28KB91e2MubCCCJ5"
        </div>
      </div>

<!--      조합 만들기 / 순위페이지 이동버튼 -->

      <button style="position: absolute; top: 33.49vw; left: 3vw;" class="btn-main" id="btn-new" type="submit">
        <img class="new" src="https://drive.google.com/uc?id=1M6H_SB7yw1x-x5GZaFjJXS5oPFmsnq7e"/>
      </button>

      <button style="position: absolute; top: 33.49vw; left: 35vw;" class="btn-main" id="btn-top10" type="submit">
        <img class="new" src="https://drive.google.com/uc?id=19BaQDKDrqQwc61_7uhB9ZB8ff0fZtlZf"/>
      </button>

<!--      공유버튼 -->
      <button class="btn-share" id="btn-link" style="position: absolute; left: 85vw; top: 1vw; z-index: +1;">
        <img
                class="img-share"
                src="https://drive.google.com/uc?id=1FAPLC1AUmDDQWzlU8g2QK8hRkR5oTc6n"
        />
      </button>

      <button class="btn-share" id="btn-kakao" style="position: absolute; left: 90vw; top: 1vw; z-index: +1;">
        <img
                class="img-share"
                src="https://drive.google.com/uc?id=1bhbYUgEwBsw64vqD7ixAmFDHF3mZDVZg"
        />
      </button>

      <button class="btn-share" id="btn-facebook" style="position: absolute; left: 95vw; top: 1vw; z-index: +1;">
        <img
                class="img-share"
                src="https://drive.google.com/uc?id=1nmkdRjr5Mi_Xa1KtLX2gkHBHtGSZlLag"
        />
      </button>







    </div>
   </body>
</html>
