<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>오늘의 Subway, 나만의 꿀조합</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/todaysubway_lastpage.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <script src="../static/todaysubway_lastpage.js"></script>
    <div class="bg">
      <!--   로고 -->
      <div style="text-align: center" class="logo-box">
        <button class="btn-logo" id="btn-logo" type="submit">
          <img
            class="logo"
            src="https://drive.google.com/uc?id=1QmRgyO-K9wb40ifclihR7kkpS9Fl-3ij"
          />
        </button>
      </div>
      <!--   본문 -->
      <div>
        <div class="result-box" style="position: relative">
          <!--   타이틀 -->



        </div>
      </div>
    </div>
  </body>
</html>
